body {
    background-color: black;
    color: rgb(20, 212, 20);
    height: 100vh;
}

h1 {
    font-family: 'Courier New', Courier, monospacec/*use this font instead*/
}

table {
    border-collapse: collapse;
    margin-top: 100px
}

th {
    font-family: 'Courier New', Courier, monospace
}

td {
    border: 2px solid;
    border-collapse: collapse;
    margin-top: 10%;
    height: 100px;
    width: 33%;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace
}

#submit-button1 {
    color: rgb(20, 212, 20);
    background-color: black;
    border: 1px rgb(20, 212, 20) solid;
    border-radius: 5px;
}

#submit-button2 {
    color: rgb(20, 212, 20);
    background-color: black;
    border: 1px rgb(20, 212, 20) solid;
    border-radius: 5px;
}

#submit-button3 {
    color: rgb(20, 212, 20);
    background-color: black;
    border: 1px rgb(20, 212, 20) solid;
    border-radius: 5px;
}

#message-input {
    border: 1px solid rgb(20, 212, 20);
    background-color: rgb(0, 0, 0);
    color: rgb(20, 212, 20)
}

#message-input2 {
    border: 1px solid rgb(20, 212, 20);
    background-color: rgb(0, 0, 0);
    color: rgb(20, 212, 20)
}

#message-input3 {
    border: 1px solid rgb(20, 212, 20);
    background-color: rgb(0, 0, 0);
    color: rgb(20, 212, 20)
}

::placeholder {
    color: rgb(20, 212, 20);
    opacity: 1;
}

#explanation {
    font-family: 'Courier New', Courier, monospace
}